.card{
    background: rgba(33, 33, 66, 0.6);
    border: 1px solid rgba(184, 184, 227, 0.08);
    box-shadow: 0px 10px 10px rgba(6, 6, 40, 0.55), inset 0px -8px 0px rgba(5, 5, 27, 0.4), inset 0px 1px 0px rgba(189, 189, 238, 0.15);
    border-radius: 4px;
    width: 234px;
    height: 96px;
    display: flex;
}
.container{
    display: grid;
    grid-template-columns: 2fr 10fr 2fr;
}
.ph01{
    height: 96px;
    width: 96px;
}
.text{
    width: 35px;
    height: 22px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}
.text1{
    width: 121px;
    height: 32px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}
.txt{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
}
.cardFlex{
    display: flex;
    gap: 1rem;
    width: 500px;
    flex-wrap: wrap;
}